/* Define the basic layout of the website */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Define the header */
header {
    background-color: #006699;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav  {
    text-align: center;
    font-size: 20px;
    color: white;
}

/* Define the main content area */
main {
    padding: 20px;
}

/* Define the footer */
footer {
    background-color: #ffffff;
    color: #006699;
    padding: 20px;
    text-align: center;
    -webkit-text-fill-color: #fff;
}